* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-bottom: auto;
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: yellow;

}

header {
background-color: yellow;
padding: 10px;
}
.grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(2, fr);

}

img {
    height: auto;
    width: 35%;
}
.second {
    border-radius: 50%;
    height: auto;
    width: 50%;
}
.font {
    font-family: 'Dekko';font-size: 30px;
}
.recipe1 {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 10px;
}

.recipe2 {
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 10px;
}

.recipe3 {
    grid-column-start: 3;
    grid-row-start: 1;
    padding: 10px;
}
